
	.page-content-wrapper{
		float:right;
		width:100%;
	}
	
	.page-content-wrapper .page-content{
		
		margin-top:0;
		padding: 25px 20px 10px;
	}
	
	.portlet.light.bordered{
		border: 1px solid #e7ecf1 !important;
	}
	
	.portlet.light{
		padding: 12px 20px 15px;
	}
	
	.portlet{
		box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.03);
		margin-top: 0px;
		margin-bottom: 25px;
		border-radius: 2px;
	}
	
	.portlet > .portlet-title > .caption{
		float: left;
		display: inline-block;
		font-size: 18px;
		line-height: 18px;
		padding: 10px 0;
	}
	
	.portlet.light .portlet-body{
		padding-top: 8px;
		clear: both;
	}
	
	.row{
		margin-right: -15px;
		margin-left: -15px;
	}
	
	.col-md-6{
		width: 50%;
	}
	
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
		float: left;
	}
	
	div.dataTables_wrapper
	div.dataTables_length select{
		width: 75px;
		display: inline-block
	}
	
	select.input-sm{
		height:30px;
		line-height:30px;
	}
	
	.input-inline{
		vertical-align: middle;
		display: inline-block;
	}
	
	.input-xsmall{
		width: 80px !important;
	}
	
	.form-control{
		outline: 0 !important;
		box-shadow: none !important;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	
	.input-sm{
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 3px;
		height: 30px;
		line-height: 1.5;
	}
	
	.input-mini, .input-xxs{
		width: 45px !important;
	}
	button, input, select, textarea{
		font-family: inherit;
	}
	
	button, select{
		text-transform: none;
	}
	
	button, input, optgroup, select, textarea{
		margin: 0;
		font: inherit;
	}
	
	div.dataTables_wrapper
	div.dataTables_filter{
		text-align: right;
		float: right;
	}
	
	div.dataTables_wrapper
	div.dataTables_filter input{
		margin-left:0.5em;
		display: inline-block;
		width: auto;
	}
	
	div.dataTables_wrapper
	div.dataTables_filter label{
		font-weight: normal;
		white-space: nowrap;
		text-align: left;
	}
	
	label{
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
	}
	
	.table-scrollable{
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		border: 1px solid #e7ecf1;
		margin: 10px 0 !important;
	}
	
	.col-md-7{
		width:58%;
	}
	
	div.dataTables_wrapper
	div.dataTables_paginate{
		white-space: nowrap;
		text-align: right;
	}
	
	